venv/
__pycache__/
*.pyc
.env
build/
dist/
*.spec
# Banco de dados
*.db
*.db-shm
*.db-wal

# Variáveis de ambiente (Segurança Crítica)
.env

# Pastas de ambiente virtual e cache
venv/
__pycache__/
dist/
build/
*.spec